/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.site-title{
    font-size: 80px;
    color: #3944F7;
}
.right-side{
    background-color:#F3F1FF;
}
.custom-btn{
    font-size: 20px;
    font-weight: 800;
    padding: 15px 35px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 15px;
}