/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
/* heading title customize */
.site-title{
    font-size: 80px;
    color: skyblue;
}
.right-side{
    background-color:rgba(223, 205, 208, 0.616);
}
/* button style */
.custom-btn{
    font-size: 20px;
    font-weight: 800;
    padding: 15px 35px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 15px;
}
/* eroor message handling */
.error-message{
    display: none;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }